Function of Python

def test():

In [3]:
def test():
    pass

In [6]:
def test():
    a=3*4*5
    return a

In [11]:
type(test())

int

In [12]:
test()

60

In [15]:
def test5(a,b):
    c= a+b
    return c

In [18]:
test5()

TypeError: test5() missing 2 required positional arguments: 'a' and 'b'

In [ ]:
def test5(a,b):
    c= a+b
    return c

In [20]:
test5(3,4)

7

In [22]:
test5("sandeep","giri")

'sandeepgiri'

In [23]:
test5("sandeep"," giri")

'sandeep giri'

passing list in to a function

In [25]:
test5([1,2,3,4,5],[6,7,8.9])

[1, 2, 3, 4, 5, 6, 7, 8.9]

In [26]:
test5(b="sandeep",a="giri")

'girisandeep'

# Create a function which will take list as a input and give me final list with all numeric values:

In [28]:
l=[1,2,3,4,"sandeep", "Giri", 5,"stoic",[6,7,8,9]]
print (l)

[1, 2, 3, 4, 'sandeep', 'Giri', 5, 'stoic', [6, 7, 8, 9]]

In [56]:

def test6(a):
    n = []
    for i in a:
        if type(i)== int or type(i)== float:
            
            n.append(i)
    return n

In [57]:
test6(l)

[1, 2, 3, 4, 5]

#Now I want to return list into list also:

In [53]:
l

[1, 2, 3, 4, 'sandeep', 'Giri', 5, 'stoic', [6, 7, 8, 9]]

In [59]:

def test7(a):
    n = []
    for i in a:
        if type(i)== int or type(i)== float or type(i)== list:
            
            n.append(i)
    return n

In [60]:
test7(l)

[1, 2, 3, 4, 5, [6, 7, 8, 9]]

In [63]:

def test7(a):
    n = []
    for i in a:
        if type(i)== list:
            for j in i:
                if type(j)== int or type(j)==float:
                    n.append(j)
        else:
                    if type(i)==int or type(i)==float:
                        n.append(i)
    return n

In [64]:
test7(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

# changes in else  ,When I slide else with 2nd if then:

In [65]:

def test7(a):
    n = []
    for i in a:
        if type(i)== list:
            for j in i:
                if type(j)== int or type(j)==float:
                    n.append(j)
                else:
                    if type(i)==int or type(i)==float:
                        n.append(i)
    return n

In [67]:
test7(l)

[6, 7, 8, 9]

#When I use to pass any number,and losts of arguments then we use *agrs:

In [69]:
def test8(a,b,c,d,e):
    pass

In [70]:
test8(4,5,6,7,8,9,1)

TypeError: test8() takes 5 positional arguments but 7 were given

In [85]:
def test9(*args): # *args I can pass any number of arguments:
    # *args = it pass n number of data:
    return(args)

In [86]:
test9(4)

(4,)

In [87]:
test9(2,3,4,5, 10.5,True,[2,3,4,7], "sandeep",(2,3))

(2, 3, 4, 5, 10.5, True, [2, 3, 4, 7], 'sandeep', (2, 3))

Args is not keyword , you can use any name like your name ,anything :
Example:

In [79]:
def test10(*sand):
    return sand

In [80]:
test10(2,3,4,8.9)

(2, 3, 4, 8.9)

In [81]:

def test11(*args,a):
    return args,a

In [82]:
test11(1,2)

TypeError: test11() missing 1 required keyword-only argument: 'a'

The above example: when I pass args and another argument like a, its need  value

In [83]:
def test11(*args,a):
    return args,a

In [84]:
test11(1,2,3,4, a="sandeep Giri")

((1, 2, 3, 4), 'sandeep Giri')

In [88]:
def test12(*args):
    l=[]
    for i in args:
        if type(i)== list:
            l.append(i)
    return l

In [90]:
test12(1,2,3,4,[5,6,1,2],"sandeep",[6.3,4.5],3.1)
# args pass as a tuple. args hold all the data in to tuple.

[[5, 6, 1, 2], [6.3, 4.5]]

How I pass n number of values with number and key pairs: Key and Value pairs inside in Funtion:

In [91]:
#**kwargs = pass any n number of value of key and pairs:

In [92]:
def test13(**kwargs):
    return kwargs

In [93]:
test13()

{}

In [94]:
type(test13())

dict

In [96]:
test13(a=5,b=6,c=7,d=[1,2,3,4,8],n="sandeep",p=("sand",2,3,4,6))

{'a': 5,
 'b': 6,
 'c': 7,
 'd': [1, 2, 3, 4, 8],
 'n': 'sandeep',
 'p': ('sand', 2, 3, 4, 6)}

In [105]:
def test14(**kwargs):
    l=[]
    for i in kwargs:
        if type(i)==list:
            l.append()
    return l

In [107]:
test14(a=5,b=6,c=7,d=[1,2,3,4,8],n="sandeep",p=("sand",2,3,4,6))

[]

In [132]:
def test15(**kwargs):
    l=[]
    for i in kwargs.keys():
        if type(kwargs[i])==list:
            
            return i,kwargs[i]

In [133]:
test15(a=5,b=6,c=7,d=[1,2,3,4,8],n="sandeep",p=("sand",2,3,4,6))

('d', [1, 2, 3, 4, 8])

In [134]:
def test16(*args, **kwargs):
    return args,kwargs

In [141]:
test16(12,3,4,5,a=(2,3,4),b=[3.4,5,6])

((12, 3, 4, 5), {'a': (2, 3, 4), 'b': [3.4, 5, 6]})

Generator Function: