In [26]:
print(l)

[1, 2, 3, 5, 8, 15]

In [31]:
def square(l):
    l1=[]
    
    for i in l:
        l1.append(i**2)
    return l1

In [32]:
square(l)

[1, 4, 9, 25, 64, 225]

## Map Function:

In [37]:
print(l)

[1, 2, 3, 5, 8, 15]

In [61]:
l= [2,4,5,7,9,10]

In [62]:
def sq(l):
    return l**2

In [75]:
list(map(sq, l))

[4, 16, 25, 49, 81, 100]

In [92]:
list(map(lambda l: l**2 , l ))

[4, 16, 25, 49, 81, 100]

# add to list using map function

In [93]:
l1=[2,3,4,5]
l2=[3,4,5,6]
list(map(lambda x,y: x+y,l1,l2))

[5, 7, 9, 11]

In [108]:
# using lambda function  with outside and using lambda function store in other varaible in f:
l1=[2,3,4,5]
l2=[3,4,5,6]
f=lambda x,y:x+y
list(map(f , l1,l2))

[5, 7, 9, 11]

In [109]:
l1=[2,3,4,5]
l2=[3,4,5,6]

def add_list(*args):
    return l1+l2

In [102]:
add_list()

[2, 3, 4, 5, 3, 4, 5, 6]

In [119]:
a="Sandeep"

list(map(lambda x: x.upper(), a))

['S', 'A', 'N', 'D', 'E', 'E', 'P']

In [122]:
a="SANDEEP"

list(map(lambda x: x.lower(), a))

['s', 'a', 'n', 'd', 'e', 'e', 'p']

In [37]:
numbers = [1, 2, 3, 4, 5]

squared_numbers = map(lambda x: x**2, numbers)

print(list(squared_numbers))

[1, 4, 9, 16, 25]

## REDUCE FUNCTION
 we are not use directly this function, we need to import

In [7]:
from functools import reduce

In [8]:
l=[2,3,4,5,6]
reduce(lambda x,y: x+y, l) # we are add all the value each other using reduce function:

20

In [9]:
l=[2,3,4,5,6]

def add(x,y):
    return x+y        # by using function and reduce function to execture this programe

reduce(add, l)

20

In [11]:
l=[2,3,4,8,6]

reduce(lambda x,y: x if x>y else y, l) # first x= 2 and y= 3 and compare that and so on>>

8

In [36]:
from functools import reduce
# multiply each number using reduce function:

numbers = [1, 2, 3, 4, 5]

product = reduce(lambda x, y: x*y, numbers)

print(product)

120

## Filter function:

In [19]:
# find even number using filter function:
l=[2,3,5,7,8,9,16]

list(filter(lambda x:  x%2==0, l))

[2, 8, 16]

In [20]:
# find Odd number using filter function:
l=[2,3,5,7,8,9,16]
list(filter(lambda x: x%2!=0,l))

[3, 5, 7, 9]

In [22]:
# find the negative number in list using filter function:
l= [-1,-2,-3,-4,7,6,8,9]

list(filter(lambda x: x<0,l))

[-1, -2, -3, -4]

In [23]:
# find the positive number in list using filter function:
l= [-1,-2,-3,-4,7,6,8,9]

list(filter(lambda x: x>0,l))

[7, 6, 8, 9]

In [24]:
l2=["sandeep", "Rima", "Soni", "Keshav", "Vineet" , "Mumbai", "Kolkata"]

In [34]:
list(filter(lambda x: len(x)>6, l2))

['sandeep', 'Kolkata']

In [35]:
# print EVEn number:
numbers = [1, 2, 3, 4, 5]

even_numbers = filter(lambda x: x%2 == 0, numbers)

print(list(even_numbers))

[2, 4]