Pandas Assingment by Sandeep Giri

Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [20]:
import pandas as pd
data=[4, 8, 15, 16, 23, 42]
a=pd.Series(data)
print(a)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [22]:
type(a)

pandas.core.series.Series

Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

In [23]:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Series_= pd.Series(my_list)
print(Series_)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [24]:
type(Series_)

pandas.core.series.Series

Q3. Create a Pandas DataFrame that contains the following data:

Then, print the DataFrame.
Name
Alice
Bob
Claire

Age
25
30
27

Gender
Female
Male
Female

In [52]:
import pandas as pd
data= {'Name': ['Alice', 'Bob', 'Claire'],
       'Age': [25,30,27],
       'Gender':['Female','Male','Female']}
df = pd.DataFrame(data)
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

In Pandas, a DataFrame is a two-dimensional labeled data structure with columns of potentially different types. It is a tabular data structure.

a Pandas Series is a one-dimensional labeled array that can hold data of any type. It is similar to a column in a spreadsheet.

The main difference between a Pandas Series and a DataFrame is that a Series represents a single column of data, while a DataFrame represents multiple columns of data.

Here is an example to illustrate the difference between a Pandas Series and a DataFrame:

In [ ]:
# Example of DataFrame and panda Series

In [55]:
import pandas as pd

# create a Series
s = pd.Series([1, 2, 3, 4, 5])
print(s)

# create a DataFrame
df = pd.DataFrame({'id': [1, 2, 3, 4, 5],
                   'Name': ['Krish', 'Alakh', 'Sandeep', 'Rima', 'Misha'],
                   'Attribute': ['Smart', 'Skill', "Hacker", "Lovely", "Cute"]})
print(df)

0    1
1    2
2    3
3    4
4    5
dtype: int64
   id     Name Attribute
0   1    Krish     Smart
1   2    Alakh     Skill
2   3  Sandeep    Hacker
3   4     Rima    Lovely
4   5    Misha      Cute

Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?

**Ans**- Pandas is a powerful library for data manipulation and analysis. There are many functions available in Pandas that can be used to manipulate data in a DataFrame. 
Here are some important function:
head()
tail()
describe(), etc

In [ ]:
# example of above question

In [56]:
df = pd.DataFrame({'id': [1, 2, 3, 4, 5,6],
                   'Name': ['Krish', 'Alakh', 'Sandeep', 'Rima', 'Misha','Alam'],
                   'Attribute': ['Smart', 'Skill', "Hacker", "Lovely", "Cute",'powerful']})
print(df)

   id     Name Attribute
0   1    Krish     Smart
1   2    Alakh     Skill
2   3  Sandeep    Hacker
3   4     Rima    Lovely
4   5    Misha      Cute
5   6     Alam  powerful

In [57]:
df.head() # head function showing first 5 values

   id     Name Attribute
0   1    Krish     Smart
1   2    Alakh     Skill
2   3  Sandeep    Hacker
3   4     Rima    Lovely
4   5    Misha      Cute

In [58]:
df.tail() # tail function display last 5 values

   id     Name Attribute
1   2    Alakh     Skill
2   3  Sandeep    Hacker
3   4     Rima    Lovely
4   5    Misha      Cute
5   6     Alam  powerful

In [59]:
df.describe()

             id
count  6.000000
mean   3.500000
std    1.870829
min    1.000000
25%    2.250000
50%    3.500000
75%    4.750000
max    6.000000

In [60]:
df.shape

(6, 3)

Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

Answer:- Series , DataFrame are mutable in nature
a Panel is a 3-dimensional data structure, which is a collection of DataFrame objects. It can be thought of as a container of DataFrame objects, where each DataFrame represents a 2-dimensional array with rows and columns, and the third dimension represents the items in the Panel.

Q7. Create a DataFrame using multiple Series. Explain with an example.

Answer: A Series is a one-dimensional labeled array in Pandas, and a DataFrame is a two-dimensional labeled data structure, which is a collection of Series. I am concat our three series see the below example

In [ ]:
# example of question no 7

In [64]:
import pandas as pd

# create three Series
s1 = pd.Series([1, 2, 3], name='std_id')
s2 = pd.Series(['Sandeep', 'Misha', 'Krish'], name='Name')
s3 = pd.Series([26, 23, 32], name='Age')

# create a DataFrame using the Series
df = pd.concat([s1, s2, s3], axis=1)

print(df)

   std_id     Name  Age
0       1  Sandeep   26
1       2    Misha   23
2       3    Krish   32